body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    background-color: transparent;
    color: rgb(255, 126, 126);
    font-weight: bold;
    font-size: 30px;
}

.close-btn:hover {
    color: #c82333;
}

.text-center {
    text-align: center;
}
